# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
ENV/
env/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Logs and reports
*.log
htmlcov/
.coverage
.coverage.*
.cache/
.pytest_cache/

# Package distribution
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environment files
.env
.env.*

# SQLite
*.sqlite3

# Temporary files
*.tmp
*.temp
*~

# Datafiles
docs
dataset/
*.csv
*.zip
CONTEXT.md